<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />

            <data android:scheme="mailto" />
        </intent>
    </queries>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Exercises"
        tools:targetApi="31">


        <activity
            android:name=".Ball.BallPage"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Exercises" />
        <activity
            android:name=".Micard"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Exercises" />
        <activity
            android:name=".XyloPhone.Xylophone"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Exercises" />
        <activity
            android:name=".dicee.Dicee"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Exercises" />
        <activity
            android:name=".destini.Destini"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Exercises" />
        <activity
            android:name=".Quizzler.QuizzlerApp"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Exercises" />
        <activity
            android:name=".Clima.Screens.CityScreen"
            android:theme="@style/Theme.Exercises"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BMI.BMI"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Exercises" />
    </application>

</manifest>